body {
    margin: 0 ; !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
    overflow-x: hidden;
    max-width: 100%;
}

/* MENU BAR */

.logoHeader {
    width: 35px;
    height: 35px; 
    margin-top: -0.5rem;
}

.navbar-default {
    box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15) !important;
}

.navbar li {
    font-size: 1.5rem;
}

@media (min-width: 865px) {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
}

/* HOVER */

@media (min-width: 1075px) {
    .sidebar-nav {
        padding: 9px 0;
    }

    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
        margin-top: 0;
    }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }
    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }
}

/* SUPPORT HEADER BUTTON */
.btn-support {
    width: 185px;
    height: 35px;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    background-color: #a0ca56;
    border-radius: 3px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    float: right;
    margin-right: 6%;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    -webkit-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
}

.btn-support:hover {
    background-color: #eeeeee;
    border: 2px #a0ca56 solid;
    color: #000000;
    -webkit-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
}

@media (min-width: 950px) {
    .btn-support {
        margin-bottom: 0;
    }
}

@media (max-width: 925px) {
    .btn-support {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

/* PANEL 1 */
.panel1 {
    height: 535px;
    background-color: #b7e2ff;
    padding: 80px 55px 45px 55px;
}

.logoBody {
    width: 500px;
    height: 500px;
    z-index: 100;
    position: relative;
    margin-left: 55%;
    margin-top: -33rem;
}

.textContent1 {
    width: 550px;
    position: relative;
    margin-top: 8rem;
    margin-left: 5rem;
    max-width: 100%;
}

.brandingLogo {
    width: 600px;
    height: 600px;
    z-index: 50;
    margin: 0 auto;
}

.textContent1 h1 {
    color: #323840;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
    font-size: 5rem;
}

@media (max-width: 1100px) {
    .logoBody {
        width: 400px;
        height: 400px;
        margin-left: 55%;
        margin-top: -21rem;
    }
    
    .textContent1 {
        max-width: 400px;
        width: 400px;
        margin-left: 1rem;
    }
}

@media (max-width: 850px) {
    .logoBody {
        margin: 0 auto;
    }  
    .panel1 {
        height: 100%;
        min-height: 425px;
    }
    
    .textContent1 {
        width: 100%;
        min-width: 200px;
        margin: 0 auto;
    }
    
    .textContent1 h1 {
        font-size: 3rem;
    }
}

/* PANEL 2 */
.panel2 {
    height: 100%;
    min-height: 425px;
    background-color: #469fdc;
    padding: 45px 55px;
}

.textContent2 h1 {
    color: #ffffff;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding-left: 1%;
    text-transform: uppercase;
}

.textContent2 p {
    color: #eeeeee;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    padding: 0 2%;
    margin-top: 2%;
}

@media (max-width:500px) {
    .textContent2 h1 {
        font-size: 3rem;
    }
}

/* PANEL 3 */
.panel3 {
    height: 100%;
    min-height: 425px;
    background-color: #217cbb;
    padding: 45px 55px;
}

.textContent3 h1 {
    text-align: right;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding-left: 30%;
    text-transform: uppercase;
    color: #ffffff;
}

.textContent3 p {
    color: #eeeeee;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    padding: 0 2%;
    margin-top: 2%;
}

@media (max-width:500px) {
    .textContent3 h1 {
        padding-left: 0;
        margin-top: 7rem;
        font-size: 3rem;
    }
}

/* PANEL 4 */
.panel4 {
    height: 100%;
    min-height: 425px;
    background-color: #155b8b;
    padding: 45px 55px;
}

.textContent4 h1 {
    color: #ffffff;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding-left: 1%;
    text-transform: uppercase;
}

.textContent4 p {
    color: #eeeeee;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    padding: 0 2%;
    margin-top: 2%;
}

@media (max-width:700px) {
    .textContent4 h1 {
        padding-left: 0;
        margin-top: 3rem;
        font-size: 3rem;
    }
}

/* LINK PANEL */
.linkPanel {
    height: 100%;
    min-height: 600px;
    background-color: #f1f1f1;
    padding: 45px 25px;
}

.linkPanel h1 {
    color: #52575e;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-align: center;
    padding: 0 250px;
    line-height: 4.5rem;
}

.linkWrapper {
    
}

@media (max-width:800px) {
    .linkPanel h1 {
        padding: 0;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 3rem;
    }
    
    .linkPanel {
        padding: 25px 25px;
    }
}

/* FOOTER */
.footer {
    background-color: #eeeeee;
    height: 250px;
    width: 100%;
    z-index: 3;
    border-top: 1px solid #bbbbbb;
}

/* MISC */
.arrow {
	width: 0; 
	height: 0; 
	border-left: 55px solid transparent;
	border-right: 105px solid transparent;
	border-top: 105px solid #f00;
    z-index: 200;
    position: absolute; 
    max-width: 100%;
    max-height: 100%;
}

#arrow2 {
    border-top-color: #469fdc;
    margin-left: 15%;
}

#arrow3 {
    border-top-color: #217cbb;
    margin-left: 75%;
}

@media (max-width: 800px) {
    .arrow {
        border-left-width: 35px;
        border-right-width: 85px;
        border-top-width: 85px;
    }
    
    #arrow3 {
        margin-left: 55%;
    }
}

.textHighlight {
    color: #ffc000;
}

/* ============CONTACT PAGE============= */
#internal {
    margin-top: 5rem;
    width: 960px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    height: 100%;
    padding: 3rem;
    
}

#internal h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    background-color: #aaaaaa;
    padding: 1rem;
    margin-left: -6rem;
    padding-left: 6rem;
    color: #ffffff;
}

#internal h2 {
    font-weight: 600;
    font-size: 2.5rem;
    color: #383838;
}

#internal p {
    font-size: 1.6rem;
}
#internal .contactText {
    font-size: 1.8rem;
    width: 525px;
    margin-left: 3rem;
    margin-bottom: 3rem;
    line-height: 3rem;
}

#contact1, #contact2 {
    margin-top: 1.5rem;
    float:left;
    margin-left: 3rem;
    letter-spacing: 0.05rem;
}

#internal h4{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: -2.5rem 0 3rem 2rem;
    background-color: #383838;
    padding: 1rem;
    position: relative;
    z-index: 2;
    color: #ffffff;
    max-width: 250px;
}

@media (max-width: 600px) {
    #internal .contactText {
        width: 100%;
        margin: 0;
    }
    
    #contact1, #contact2 {
        margin: 1rem auto;
    }
}
/* ===============NEWS PAGE=============== */
#newsContent {
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 2rem;
    margin-bottom: 3rem;
}

/* ================ABOUT PAGES=================*/
.aboutHeader {
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 3rem !important;
    margin: 3rem 0 2rem 2rem;
    
}