body {
    margin: 0 ; !important;
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
    overflow-x: hidden;
    max-width: 100%;
}

/* MENU BAR */

.logoHeader {
    width: 35px;
    height: 35px; 
    margin-top: -0.5rem;
}

.navbar-default {
    box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.15) !important;
}

.navbar li {
    font-size: 1.5rem;
}

@media (min-width: 865px) {
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
}

/* SUPPORT HEADER BUTTON */
.btn-support {
    width: 185px;
    height: 35px;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    background-color: #a0ca56;
    border-radius: 3px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    float: right;
    margin-right: 6%;
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    -webkit-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;
}

.btn-support:hover {
    background-color: #eeeeee;
    border: 2px #a0ca56 solid;
    color: #000000;
    -webkit-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
}

@media (min-width: 950px) {
    .btn-support {
        margin-bottom: 0;
    }
}

@media (max-width: 925px) {
    .btn-support {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

/* PANEL 1 */
.panel1 {
    height: 535px;
    background-color: #b7e2ff;
    padding: 80px 55px 45px 55px;
}

.logoBody {
    width: 500px;
    height: 500px;
    z-index: 100;
    position: relative;
    margin-left: 55%;
    margin-top: -33rem;
}

.textContent1 {
    width: 550px;
    position: relative;
    margin-top: 8rem;
    margin-left: 5rem;
    max-width: 100%;
}

.brandingLogo {
    width: 600px;
    height: 600px;
    z-index: 50;
    margin: 0 auto;
}

.textContent1 h1 {
    color: #323840;
    letter-spacing: 0.1rem;
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
    font-size: 5rem;
}

@media (max-width: 1100px) {
    .logoBody {
        width: 400px;
        height: 400px;
        margin-left: 55%;
        margin-top: -21rem;
    }
    
    .textContent1 {
        max-width: 400px;
        width: 400px;
        margin-left: 1rem;
    }
}

@media (max-width: 850px) {
    .logoBody {
        margin: 0 auto;
    }  
    .panel1 {
        height: 100%;
        min-height: 425px;
    }
    
    .textContent1 {
        width: 100%;
        min-width: 200px;
        margin: 0 auto;
    }
    
    .textContent1 h1 {
        font-size: 3rem;
    }
}

/* PANEL 2 */
.panel2 {
    height: 100%;
    min-height: 425px;
    background-color: #469fdc;
    padding: 45px 55px;
}

.textContent2 h1 {
    color: #ffffff;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding-left: 1%;
    text-transform: uppercase;
}

.textContent2 p {
    color: #eeeeee;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    padding: 0 2%;
    margin-top: 2%;
}

@media (max-width:500px) {
    .textContent2 h1 {
        width: 100%;
    }
}

/* PANEL 3 */
.panel3 {
    height: 100%;
    min-height: 425px;
    background-color: #217cbb;
    padding: 45px 55px;
}

.textContent3 h1 {
    text-align: right;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding-left: 30%;
    text-transform: uppercase;
    color: #ffffff;
}

.textContent3 p {
    color: #eeeeee;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    padding: 0 2%;
    margin-top: 2%;
}

@media (max-width:500px) {
    .textContent3 h1 {
        padding-left: 0;
        margin-top: 7rem;
        width: 100%;
    }
}

/* PANEL 4 */
.panel4 {
    height: 100%;
    min-height: 425px;
    background-color: #155b8b;
    padding: 45px 55px;
}

.textContent4 h1 {
    color: #ffffff;
    letter-spacing: 0.5rem;
    font-weight: 700;
    padding-left: 1%;
    text-transform: uppercase;
}

.textContent4 p {
    color: #eeeeee;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    padding: 0 2%;
    margin-top: 2%;
}

@media (max-width:500px) {
    .textContent4 h1 {
        padding-left: 0;
        margin-top: 7rem;
        width: 100%;
    }
}

/* LINK PANEL */
.linkPanel {
    height: 100%;
    min-height: 600px;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #dddddd 0%, #eeeeee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dddddd 0%,#eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    padding: 45px 55px;
}

.linkPanel h1 {
    color: #52575e;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-align: center;
    padding: 0 250px;
    line-height: 4.5rem;
}

.linkWrapper {
    
}

/* MISC */
.arrow {
	width: 0; 
	height: 0; 
	border-left: 55px solid transparent;
	border-right: 105px solid transparent;
	border-top: 105px solid #f00;
    z-index: 200;
    position: absolute; 
    max-width: 100%;
    max-height: 100%;
}

#arrow2 {
    border-top-color: #469fdc;
    margin-left: 15%;
}

#arrow3 {
    border-top-color: #217cbb;
    margin-left: 75%;
}

@media (max-width: 800px) {
    .arrow {
        border-left-width: 35px;
        border-right-width: 85px;
        border-top-width: 85px;
    }
    
    #arrow3 {
        margin-left: 55%;
    }
}

.textHighlight {
    color: #ffc000;
}
