body {
    background-color: #242424 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1{
    font-family: 'Damion', cursive !important;
    color: white !important;
    text-align: center;
    font-size: 5rem !important;
    margin-top: 8rem !important;
}

hr {
    border-top: 1px solid #3c3c3c !important;
}
/*** NAVBAR ***/
.navbar-brand {
    width: 185px;
    padding: 5px !important;
}

.navbar {
    border-radius: 0 !important;
    margin: 0 !important;
}

.navbar-header {
    float: none !important;
    width: 185px;
    margin: 0 auto !important;
}

/*** VIDEO WRAPPER ***/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.6);
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*** BODY ***/
.body-background {
    background-image: url(../images/body_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
}

.body-container {
    padding-top: 60rem;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.ww_divider {
    width: 800px;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
}

.text-content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    line-height: 3rem;
    padding: 0 3rem;
    font-weight: 300;
    text-align: center;
}

.feature-banner {
    width: 100%;
    max-width: 879px;
    height: 100%;
    min-height: 248px;
    margin: 3rem auto 0 auto;
    padding: 3rem;
    position: relative;
    z-index: 0;
    background-size: cover;
}

#feature1 {
    background-image: url(../images/feature1.png);
    background-position: center;
}

.feature-text {
    position: relative;
    z-index: 1;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    float: right;
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

/*** FOOTER ***/
.footer {
    color: #b2b2b2;
    padding: 0 3rem;
}

/*** MEDIA QUERIES ***/
@media (max-width: 1000px) {
    .body-background {
        height: 450px;
    }
    
    .body-container {
        padding-top: 20rem;
    }
}

@media (max-width: 640px) {
    .body-container {
        padding-top: 15rem;
    }
    h1 {
        font-size: 4rem !important;
        margin-top: 5rem !important;
    }
    .text-content {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.01rem;
    }
    .feature-text {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        float: right;
    }
}

@media (max-width: 480px) {
    #feature1 {
        padding-top: 19rem;
    }
}
