html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    background-color: #1e2028;
    margin: 0;
    padding: 0;
}

svg {
    position:absolute;
    z-index: 10;
}

hr {
    border-color: #1e1f23;
    opacity: 50%;
}

/*************
    NAVBAR
*************/

.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 3rem;
    padding: 1rem 1.5rem;
    
    background-color: #1e2028;
    border-bottom: 1px solid #1a1c23;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.navbar li {
    margin-right: 2%;
    margin-right: 3%;
    color: white;
    list-style: none;
}

.navbar li img {
    width: 15rem;
    margin-top: -1.5rem;
}

.navbar.shrink {
    height: 2rem;
    padding: 0.6rem 1rem;
}

@media (max-width: 1200px) {
    .navbar li img {
        width: 10rem;
        margin-top: -1rem;
    }
}

@media (max-width: 800px) {
    .navbar li img {
        width: 7rem;
        margin-top: 0rem;
    }
    
    .navbar li {
        margin-right: 2%;
        margin-right: 4%;
    }
    
    .navbar {
        height: 3rem;
        padding: 0rem 0.5rem 0.5rem 0.7rem;
    }
}

.intro-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.st0 {
    fill:#F9F9F9;
}

.st1 {
    fill:none;
}

#background-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/map.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: fixed;
    
    overflow-x: hidden;
}

/**********************
      Main Content
**********************/

.main-content {
    background-color: #1e2028;
    width: 80%;
    height: 300%;
    padding: 3% 10%;
    position: absolute;
    margin-top: 60%;
}

.main-content h1 {
    font-family: "Bitter"
    font-weight: 400;
    color: #ccc;
}

.circle {
    position: absolute;
    z-index: 9;
}

#c1 {
    width: 20%;
    margin-left: -27%;
    margin-top: 3%;
    transform: scale(1,0.8);
}

#c2 {
    width: 20%;
    margin-left: 60%;
    margin-top: 6%;
    transform: scale(1,0.5);
}

#c3 {
    width: 20%;
    margin-left: -28%;
    margin-top: -2%;
    transform: scale(1.5,0.7);
}

#heading1 {
    width: 30%;
    z-index: 6;
    position: relative;
}

#heading2 {
    width: 35%;
    z-index: 6;
    position: relative;
    float: right;
}

#heading3 {
    width: 50%;
    z-index: 6;
    position: relative;
    float: left;
}

.polaroid {
    position: relative;
    background-color: #fffff7;
    padding: 2%;
    padding-bottom: 6%;
    z-index: 5;
    pointer-events: none;
}

.section {
    margin-bottom: 5%; 
    display: block;
}

#section3 {
    margin-top: 70%;
}

.text-content {
    font-size: 1.1rem;
    font-family: sans-serif;
    color: aliceblue;
    width: 85%;
    margin: 0 auto;
    padding-top: 15%;
    display: block;
    line-height: 1.8rem;
}

/** Section 1 **/
#pol1 {
    transform: rotate(-5deg);
    box-shadow: -5px 5px 20px 5px rgba(0,0,0,0.5);
    
    width: 70%;
    margin-top: -15%;
    margin-left: 22%;
}

/** Section 2 **/
#pol2 {
    transform: rotate(5deg);
    box-shadow: -5px 5px 20px 5px rgba(0,0,0,0.5);
    
    width: 50%;
    margin-top: -15%;
    margin-left: 30%;
    
    float: right;
}

#pol3 {
    transform: rotate(-5deg);
    box-shadow: -5px 5px 20px 5px rgba(0,0,0,0.5);
    
    width: 50%;
    margin-top: -7%;
    margin-left: 2%;
    
    float: left;
}

#pol5 {
    transform: rotate(-3deg);
    box-shadow: -5px 5px 20px 5px rgba(0,0,0,0.5);
    
    width: 50%;
    left: 30%;
    float: none;
    
    margin: 0 auto;
    
}

#caption5 {
    position: relative;
    z-index: 10;
    width: 25%;
    left: -7%;
    transform: rotate(-3deg);
}


#hiker1 {
    width: 45%;
    margin: 5% 0 0 0;
}

#hiker2 {
    width: 40%;
    float: right;
}

@media (max-width: 1000px) {
    #heading1 {
        width: 60%;
    }

    #heading2 {
        width: 50%;
    }

    #heading3 {
        width: 50%;
    }
    
    #c1 {
        width: 30%;
        margin-left: -45%;
        margin-top: 10%;
    }

    #c2 {
        width: 30%;
        margin-left: 50%;
        margin-top: 9%;
    }
    
    #c3 {
        width: 20%;
        margin-left: -32%;
        margin-top: 3%;
    }
    
    .text-content {
        font-size: 0.8rem;
        line-height: 1.3rem;
        padding-top: 5%;
    }
    
     #background-image {
        height: 700px;
    }
}

@media (max-width:600px) {
    #background-image {
        height: 400px;
    }
}